#Ignore swap files
*.swp

#Ignore intermediate TeX files in the latex_practice directory
latex_practice/**/*.log
latex_practice/**/*.aux

#Ignore build directories
build/

#Ignore g++'s default executable
a.out

#Ignore g++'s pre-compiled headers
*.gch

#Hidden files
.**

#But not itself
!.gitignore

#Barn Directories
/barn**

#Scratch Directories
/scratch**

#Build Directories
**/build

#Slurm output
slurm-**

#Testing Output
output.txt

#Reordered meshes
FEP/a2/Reordered_**

#Results
**/*Results*

#a3 meshes
FEP/a3/a3/
FEP/a3/migrated/

#Latex support files
**.aux
**.log

#Eigen
**igen**

#a4 models and meshes
FEP/a4/models_meshes/

# vim sessions
**.vim

#test directories
test/

#latex style package
*.sty
