#Ignore swap files
*.swp

#Ignore intermediate TeX files in the latex_practice directory
latex_practice/**/*.log
latex_practice/**/*.aux

#Ignore build directories
build/

#Ignore g++'s default executable
a.out
