#Ignore...

#Hidden files
.**

#But not itself
!.gitignore

#Barn Directories
/barn**

#Scratch Directories
/scratch**

#Build Directories
**/build

#Slurm output
slurm-**

#Testing Output
output.txt
